[Unit]
Description=Ente photos web
Wants=podman-ente-museum.service
After=podman-ente-museum.service

[Container]
Image=ghcr.io/ente-io/web:latest
AutoUpdate=registry

Environment=ENTE_API_ORIGIN={{ ente_web_endpoint }}
Environment=ENTE_ALBUMS_ORIGIN={{ ente_web_albums_endpoint }}

PublishPort={{ ente_web_bind_ip }}:{{ ente_web_port }}:3000
PublishPort={{ ente_web_bind_ip }}:{{ ente_web_albums_port }}:3002
Network=ente.network

[Service]
Restart=always
# Extend Timeout to allow time to pull the image
TimeoutStartSec=600

[Install]
# Start by default on boot
WantedBy=multi-user.target default.target
